.build {
}

.App {
  width: 100%;
  height: 550px;
  background-image: url("../images/about.jpg");
  background-repeat: no-repeat;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  box-shadow: 15px 15px 15px darkgray;
  color: grey;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-shadow: 1px 1px 1px lightyellow;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 150px;
    height: 100px;
    border-radius: 50%;
  }
}

.App-header {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 50px;
}

.App-nav {
  list-style-type: none;
  background-color: white;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-right: 50px;
  margin-bottom: 10px;
  display: inline;
  cursor: pointer;
  text-decoration-style: none;
}

Link:hover {
  padding: 5px;
  text-shadow: none;
  box-shadow: 3px 3px 3px darkgray;
}

.App-container {
  display: flex;
}

.App-link {
  color: #61dafb;
}

.App-paragraph {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box1 {
  width: 50%;
  height: 300px;
  margin-right: 20px;
  background-image: url("../images/box1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box2 {
  width: 50%;
  height: 300px;
  background-image: url("../images/box2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.boxes {
  display: flex;
  flex-direction: row;
}

.img1 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
