.orgList {
  list-style-type: disclosure-closed;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.univList {
  list-style-type: decimal;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contact {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.imgStyle {
  width: 100%;
  height: 550px;
  background-image: url("../images/box1.jpg");
  background-repeat: no-repeat;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  box-shadow: 15px 15px 15px darkgray;
  color: grey;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-shadow: 1px 1px 1px lightyellow;
  font-size: 20px;
}

.orgaApp {
  background-image: url("../images/box1.jpg");
}

.gitApp {
  background-image: url("../images/git1.jpg");
}

.personalApp {
  background-image: url("../images/personal.jpg");
}

.contactApp {
  background-image: url("../images/linkedIn.jpg");
}

.summaryApp {
  background-image: url("../images/summary.jpg");
}

.desc {
  width: 250px;
  text-align: justify;
}

.comp {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.date {
  font-weight: bold;
}
